<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url('index') }}">Website</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('index') }}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('contact') }}">Contact <span class="sr-only"></span></a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_logout') }}">Logout <span class="sr-only"></span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('login') }}">Inloggen <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('register') }}">Registreren <span class="sr-only"></span></a>
                        </li>
                    {% endif %}
                </ul>
            </span>
        </div>
    </nav>
</header>